<div class="product-info col-md-3 well well-sm col-sm-2 mali-ekran" style="padding:7px;"  *ngFor="let a of ads">
    <div style="border: 0.5px solid black; padding: 1px;"> 
        <div class="product-name text-center" style="margin:5px 0px 5px 0px"><strong>{{a.car.model.carBrend.name}}</strong></div>
        <div class="text-center" style="color:#800000; margin:5px 0px 5px 0px">{{a.price}},00 RSD</div>
        <div style="margin:0px 0px 20px 0px;">
          <button style="float:left" id="buyButton" class="buton-size left-margin btn btn-success btn-sm" (click)=DetailsGo(a.id) >Details</button>
          <button style="float:right;" id="buyButton" class="buton-size right-margin btn btn-warning btn-sm" (click)=AddToCart(a.id) >Add to cart</button>
        </div>
        <br>
        <div  [hidden]="!data.isAuthenticated()" style="align-items: center; margin-bottom: 8px;  display: flex; justify-content:space-between; ">
          <button style="float:left" id="buyButton" class="buton-size left-margin btn btn-secondary btn-sm" (click)=Edit(a.id) >Izmeni</button>
          <button style="float:right; margin-left:1px" id="buyButton" class="buton-size right-margin btn btn-warning btn-sm" (click)=Delete(a.id) >Ukloni</button>
        </div>
      </div>
    </div>